venv/
.venv/
env/
*.pyc
__pycache__/

# Игнорировать файлы окружения
.env
.env.local

# Игнорировать системные файлы IDE
.idea/
.vscode/
*.swp

# Игнорировать логи и кэш
*.log
*.cache

# Text files
description.txt
